<footer class="footer">
    <div class="grid">
        <div class="footer-categories">
            <div class="footer-categories-body row">
                <div class="footer-category-item col xl-4 lg-4 md-4 sm-6 col-12">
                    <div class="footer-category-header">
                        <div href="" class="footer-category-name">THÔNG TIN VỀ ONLINESHOP</div>
                    </div>
                    <div class="footer-category-body">
                        <div class="footer-category-info">
                            <i class="footer-category-icon fas fa-map-marker-alt"></i>
                            <div class="footer-category-text">
                                Địa chỉ: Số 22 ngõ 46 Tương Mai, phường Đồng Tâm, quận Hai Bà Trưng, Hà Nội
                            </div>
                        </div>
                        <div class="footer-category-info">
                            <i class="footer-category-icon fas fa-phone-alt"></i>
                            <div class="footer-category-text">
                                Hotline: 0123456789
                            </div>
                        </div>
                        <div class="footer-category-info">
                            <i class="footer-category-icon fas fa-envelope"></i>
                            <div class="footer-category-text">
                                Email: onlineshop@gmail.com
                            </div>
                        </div>
                        <div class="footer-category-info">
                            <i class="footer-category-icon fas fa-globe-americas"></i>
                            <div class="footer-category-text">
                                Website: onlineshop.com.vn
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-category-item col xl-4 lg-4 md-4 sm-6 col-12">
                    <div class="footer-category-header">
                        <div href="" class="footer-category-name">LIÊN HỆ VỚI ONLINESHOP</div>
                    </div>
                    <div class="footer-category-body">
                        <div class="footer-category-link">
                            <a href="">
                                <i class="fab fa-facebook" style="color: #385898;"></i>
                                <span>Facebook</span>
                            </a>
                        </div>
                        <div class="footer-category-link">
                            <a href="">
                                <i class="fab fa-instagram" style="color: #ff4734;"></i>
                                <span>Instargram</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-category-item col xl-4 lg-4 md-4 sm-6 col-12">
                    <div class="footer-category-header">
                        <div href="" class="footer-category-name">ĐẶT HÀNG NGAY TẠI ĐÂY</div>
                    </div>
                    <div class="footer-category-body">
                        <form class="footer-form-order" action="">
                            <div class="footer-form-group">
                                <input type="text" class="footer-form-input" placeholder="Họ và Tên">
                            </div>
                            <div class="footer-form-group">
                                <input type="text" class="footer-form-input" placeholder="Số điện thoại">
                            </div>
                            <div class="footer-form-group">
                                <input type="text" class="footer-form-input" placeholder="Địa chỉ">
                            </div>
                            <div class="footer-form-group">
                                <input type="text" class="footer-form-input" placeholder="Tên sản phẩm bạn muốn mua">
                            </div>
                            <div class="footer-form-group">
                                <input type="number" class="footer-form-input" placeholder="Số lượng">
                            </div>
                            <div class="footer-form-group">
                                <input type="submit" value="ĐẶT HÀNG" class="footer-form-input">
                            </div>
                        </form>
                    </div>
                </div>           
            </div>
        </div>

        <div class="footer-policy">
            <ul class="footer-policy-list">
                <li class="footer-policy-item">
                    <a href="" class="footer-policy-link">CHÍNH SÁCH BẢO MẬT</a>
                </li>
                <li class="footer-policy-item">
                    <a href="" class="footer-policy-link">QUY CHẾ HOẠT ĐỘNG</a>
                </li>
                <li class="footer-policy-item">
                    <a href="" class="footer-policy-link">CHÍNH SÁCH VẬN CHUYỂN</a>
                </li>
                <li class="footer-policy-item">
                    <a href="" class="footer-policy-link">HƯỚNG DẪN ĐẶT HÀNG</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-coppyright">
        Lập trình website: Nguyễn Đình Thi
    </div>
</footer>