<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản trị Online Shop</title>
    <link rel="stylesheet" href="/css/AdminArea/main.css">
    <link rel="stylesheet" href="/css/AdminArea/base.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
    {{{body}}}
</body>
</html>