<div class="home-detail">
    <div class="grid">
        <div class="home-detail-content">
            <div class="home-detail-header">{{MainCategoriesIntro.name}}</div>
            <div class="home-detail-imgages">
                <img class="home-detail-img" src="/images/catedetail.jpg" alt="">
            </div>
            <div class="home-detail-body">

            </div>
        </div>
    </div>
</div>