<div class="page-detail">
    <div class="static-page">
        <div class="grid">
            <div class="static-page-content">
                <div class="static-page-header">Giới thiệu về OnlineShop</div>
                <div class="static-page-body">
                    {{{SiteItem.content}}} 
                </div>
            </div>
        </div>
    </div>
</div>